* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1, form {
	display: inline;
}

#file-selector {
	float: right;
}

div.row {
	clear: both;
}

.column {
	float: left;
	padding: 10px;
}

.column.side {
	width: 20%;
}

.column.main {
	width: 80%;
}

@media screen and (max-width: 600px) {
	.column.side, .column.main {
		width: 100%;
	}
}
